aiolimiter==1.1.0
bce-python-sdk==0.9.17
chardet==5.2.0
dataclasses-json==0.6.7
deepdiff==7.0.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
emoji==2.12.1
filetype==1.2.0
future==1.0.0
greenlet==3.0.3
hpack==4.0.0
httptools==0.6.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.11
langchain-openai==0.1.14
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.83
lxml==5.2.2
marshmallow==3.21.3
multiprocess==0.70.16
mypy-extensions==1.0.0
nltk==3.8.1
onnxruntime==1.18.1
openai==1.35.10
ordered-set==4.1.0
protobuf==4.25.3
pyarrow==16.1.0
pycryptodome==3.20.0
python-iso639==2024.4.27
python-magic==0.4.27
pywin32==306
qianfan==0.4.0
rapidfuzz==3.9.4
regex==2024.5.15
requests-toolbelt==1.0.0
SQLAlchemy==2.0.31
streamlit-option-menu==0.3.13
tabulate==0.9.0
tiktoken==0.7.0
typer==0.12.3
typer-slim==0.12.3
typing-inspect==0.9.0
unstructured==0.14.9
unstructured-client==0.23.8
validators==0.14.0
watchfiles==0.22.0
websockets==12.0
zstandard==0.22.0
