streamlit
python-dotenv
streamlit_option_menu
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.11
langchain-openai==0.1.14
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.83
chromadb
pypdf
unstructured
python-pptx
qianfan
